In [1]:
import numpy as np 
import pandas as pd 
import time

In [2]:
start = time.time()

In [3]:
n1df = pd.read_csv('Data8277.csv')

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
n1df

          Year  Age  Ethnic  Sex     Area count
0         2018    0       1    1        1   795
1         2018    0       1    1        2  5067
2         2018    0       1    1        3  2229
3         2018    0       1    1        4  1356
4         2018    0       1    1        5   180
...        ...  ...     ...  ...      ...   ...
34959667  2006  888      69    9    DHB19  34.3
34959668  2006  888      69    9    DHB22  24.5
34959669  2006  888      69    9    DHB99   ..C
34959670  2006  888      69    9  DHB9999  28.8
34959671  2006  888      69    9   DHB777  28.8

[34959672 rows x 6 columns]

In [5]:
end = time.time()

In [6]:
print("---%s seconds ---" % (end - start))

---15.412611246109009 seconds ---