In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('dummy.csv')

In [5]:
df

       Name  Marks    City
0  Shantanu     47  Nagpur
1     Harry     45  Jaipur
2       Tim     38  Bhopal